{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>ИДИТЕ НА ХУЙ СО СВОИМИ КЭЭСЭС БЛЯТЬ!</title>
        <link href="{% static "css/main.css" %}" rel="stylesheet">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
    </head>
    <body>
            <!-- navbar -->
    <nav class="navbar navbar-expand-lg fixed-top ">
    <a class="navbar-brand" href="#">Home</a>
    </nav>
        <div id="header">
        <span class="logo">Bookmarks</span>
            {% if request.user.is_authenticated %}
                <ul class="menu">
                    <li {% if section == "dashboard" %} class="selected"{% endif %}>
                        <a href="{% url "dashboard" %}">My dashboard</a>
                    </li>
                    <li {% if section == "images" %}class="selected"{% endif %}>
                        <a href="#">Images</a>
                    </li>
                    <li {% if section == "people" %}class="selected"{% endif %}>
                        <a href="#">People</a>
                    </li>
                </ul>
            {% endif %}
        <span class="user">
            {% if request.user.is_authenticated %} Hello {{ request.user.first_name }},
                <button id="button_1" type="button" class="btn btn-primary btn-lg">
                    <a href="{% url "logout" %}">Logout</a></button>
            {% else %}
                <a href="{% url "login" %}">Log-in</a>
            {% endif %}
        </span>
        </div>
        <div id="content">
        {% block content %}{% endblock %}
        </div>
  </body>
</html>